.container{
    display: flex;
    flex-direction: column;
    max-height: 85vh;         /* prevent from growing too tall */
    margin: 20px auto;
    width: 600px;
    background-color: #fff;
    padding-bottom: 100px;
    
    border-radius: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text{
    color:#333333;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #333333;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 20px;
    
}

.input img{
    margin: 0px/* from top and bottom*/ 30px /* from left and right*/;

}

.input input{
    height: 50px;
    width: 170px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 16px;
    margin-right: 10px;
}
/* Make the last input in a row not have right margin */
.input input:last-child{
    margin-right: 0;
}

/* Add a separator line between inputs */
.input input+input{
    border-left: 1px solid #ccc;
    padding-left: 10px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span a {
    text-decoration: none;
    
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 55px auto;
    
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 59px;
    color: #fff;
    background-color: rgb(7, 69, 69);
    border-radius: 50px;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;
    flex-shrink: 0;

}

.gray{
    background-color: #eaeaea;
    color: #676767;
}